<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@(ViewBag.Title ?? "Hemliga talet")</title>
    @Styles.Render("~/bundles/styles")
</head>
<body>
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
            <h1>Gissa det hemliga talet!</h1>
            <div class="well"></div>
            @RenderBody()
            <hr />
            <p>&copy; @DateTime.Today.Year - Gissa det hemliga talet!</p>
        </div>
    </div>
        @Scripts.Render("~/bundles/scripts")
</body>
</html>