@model GissaTaletMVC.ViewModels.SecretNumberViewModel

@using (Html.BeginForm("Guess", "Home", FormMethod.Post, new { @class = "form-inline" }))
{
    <fieldset @(Model.CanMakeGuess ? "" : "disabled")>
        @Html.ValidationSummary("Gissningen misslyckades, rätta till felet och försök igen.")
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.Guess, "Gissa ett tal mellan 1 och 100 ")
            @Html.TextBoxFor(m => m.Guess, new { @class = "form-control", @Value = "", @placeholder = Model.Guess, @autocomplete = "off" })
        </div>
        <input type="submit" value="Skicka gissning" class="btn btn-info" />
        @Html.ValidationMessageFor(m => m.Guess)
    </fieldset>
}